<section class="home-section home-cta">
  <div class="container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
      <div fxFlex="66.666">
        <h2>BookBuy.shop the number 1 book sales shop in Ghana</h2>
        <p>Not yet a benefiting from our services? </p>
      </div>
      <div fxFlex="33.333" fxLayoutAlign="center center">
        <button mat-raised-button mat-lg-button color="accent" routerLink='/sessions/signup4'>SIGN UP </button>
      </div>
    </div>
  </div>
</section>