<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-md="300px" fxFlex.gt-sm="50">
    <mat-card class="profile-sidebar mb-1 pb-0">
      <div class="propic text-center">
        <img src="assets/images/sq-face-220.jpg" alt="">
      </div>
      <div class="profile-title text-center mb-1">
        <div class="main-title">{{user.name}}</div>
        <div class="subtitle mb-05">{{user.role}}</div>
        <div *ngIf="user.role === 'publisher'" class="text-muted">In charge of publishing house, Manages Publishing house inventories and sells to Agents that sells for publishing house</div>
        <div *ngIf="user.role === 'agent'" class="text-muted">Buys stock from publishing houses and sells to retailers.</div>
      </div>
      <div class="profile-actions mb-1" fxLayoutAlign="center center">
        <button mat-raised-button color="primary">Message</button>
        <span fxFlex="8px"></span> 
        <button mat-raised-button color="accent">Follow</button>
      </div>
    </mat-card>

    <!-- Chart grid -->
    <mat-card class="default">
      <mat-card-title>Summary</mat-card-title>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
    <!-- Contact Information -->
    <mat-card class="default">
      <mat-card-title>Contact Information</mat-card-title>
      <mat-card-content class="pt-0">
        <mat-list>
          <mat-list-item><mat-icon class="mr-1">email</mat-icon> {{user.email}}</mat-list-item>
          <mat-list-item><mat-icon class="mr-1">phone</mat-icon> {{user.phone}}</mat-list-item>
          <mat-list-item><mat-icon class="mr-1">add_location</mat-icon> {{user.location}}</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

<!-- Profile Views -->
  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="calc(100% - 300px)">
    <router-outlet></router-outlet>
  </div>
</div>