<section id="intro-section" class="home-intro-section text-center">
  <div class="container" fxLayout="column" fxLayoutWrap="nowrap">
    <div class="home-intro-subtitle">
      Your Number One Book Sales shop in Ghana.
    </div>
    <h1 class="home-intro-title">Buy, Sell and manage all your publishing portfolio.</h1>
    <p class="home-intro-text">Use our platform to manage your publishing house, get real time data from sales and revenue collections
    </p>
      <button mat-raised-button mat-lg-button class="intro-cta" routerLink='/myshop'><mat-icon>add_shopping_cart</mat-icon> Our Shop</button>
    <div class="intro-product">
      <img src="assets/images/egret-screen.png" alt="">
    </div>
  </div>
</section>