<div class="scrollable" [perfectScrollbar]>
  <section class="home-section section-intro text-center">
    <div class="container">
        <span class="egret">Ghana Bookstore</span>
        <img src="assets/images/5-star.png" alt="">
        <h1>Your Number Book Sales shop in Ghana</h1> 
        <p>Register with us to watch your publishing <strong>house </strong>
          grow.</p>
        <div *ngIf="!loggedin" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" class="mb-48">
          <button mat-raised-button mat-lg-button routerLink="/sessions/signup4">Register</button>
          <span fxFlex="8px"></span>
          <a routerLink="/sessions/signin4"> 
            <button mat-raised-button mat-lg-button class="pink pink-500-fg">Login</button>
              </a>
        </div>
        <div *ngIf="loggedin" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" class="mb-48">
          <button mat-raised-button mat-lg-button routerLink="/profile/overview">Go to Dashboard</button>
          
        </div>
    </div>
  </section>

  <section id="demos" class="home-section section-demos">
    <div class="container">
      <div class="text-center">
          <h2 class="text-20 mt-0 mb-1">Our Happy Customers </h2>
      </div>
      <div fxLayout="row wrap" fxLayout.lt-sm="column">
        <div class="demo-box-wrap" fxFlex="33.33"> 
          <div class="text-center demo-box" matTooltipPosition="above">
            <div class="p-0 screenshot">
              <img src="assets/images/naky.png">
            </div>
            <!-- <div class="caption">
              <h3>{{v.name}}</h3>
              <button mat-raised-button color="primary" (click)="goToDashboard(v)">View Demo</button>
            </div> -->
          </div>
        </div>

        <div class="demo-box-wrap" fxFlex="33.33"> 
          <div class="text-center demo-box" matTooltipPosition="above">
            <div class="p-0 screenshot">
              <img src="assets/images/ebs.png">
            </div>
            <!-- <div class="caption">
              <h3>{{v.name}}</h3>
              <button mat-raised-button color="primary" (click)="goToDashboard(v)">View Demo</button>
            </div> -->
          </div>
        </div>

        <div class="demo-box-wrap" fxFlex="33.33"> 
          <div class="text-center demo-box" matTooltipPosition="above">
            <div class="p-0 screenshot">
              <img [src]="">
            </div>
            <!-- <div class="caption">
              <h3>{{v.name}}</h3>
              <button mat-raised-button color="primary" (click)="goToDashboard(v)">View Demo</button>
            </div> -->
          </div>
        </div>
      </div>

    </div>
  </section>
  
</div>