<div *ngIf='role.admin'>
      <div class="m-333" >
        <!-- <span fxFlex></span> -->
        <button mat-raised-button class="mb-05" color="primary" (click)="openAddClass({}, true)">Add New Class</button>
  
      </div> 

      <div *ngIf='role.admin'>
        <mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
          <mat-card-content class="p-0">
            <ngx-datatable
                  class="material ml-0 mr-0"
                  [rows]="learnerstages"
                  [columnMode]="'force'"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [scrollbarH]="true"
                  [limit]="10"
                  [rowHeight]="50">
                  <ngx-datatable-column name="Name" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row?.name }}
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
          </mat-card-content>
        </mat-card>
      </div>
</div>

<div *ngIf='role.admin'>
  <div class="m-333" >
    <!-- <span fxFlex></span> -->
    <button mat-raised-button class="mb-05" color="primary" (click)="openAddClassGroup({}, true)">Add New Class Group</button>

  </div> 

  <div *ngIf='role.admin'>
    <mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
      <mat-card-content class="p-0">
        <ngx-datatable
              class="material ml-0 mr-0"
              [rows]="classgroup"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [scrollbarH]="true"
              [limit]="10"
              [rowHeight]="50">
              <ngx-datatable-column name="Name" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.name }}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div *ngIf='role.admin'>
    <div class="m-333">
      <!-- <span fxFlex></span> -->
      <button mat-raised-button class="mb-05" color="primary" (click)="openAddSubject({}, true)">Add New Subject</button>

    </div>
    <mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
      <mat-card-content class="p-0">
        <ngx-datatable
              class="material ml-0 mr-0"
              [rows]="subjects"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [scrollbarH]="true"
              [limit]="10"
              [rowHeight]="50">
              <ngx-datatable-column name="Name" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.name }}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
      </mat-card-content>
    </mat-card>
</div>

<div *ngIf='role.admin'>
    <div class="m-333">
      <!-- <span fxFlex></span> -->
      <button mat-raised-button class="mb-05" color="primary" (click)="openAddPaymentMethod({}, true)">Add New Payment Method</button>
    </div>
    <mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
      <mat-card-content class="p-0">
        <ngx-datatable
              class="material ml-0 mr-0"
              [rows]="paymentmethods"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [scrollbarH]="true"
              [limit]="10"
              [rowHeight]="50">
              <ngx-datatable-column name="Name" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.name }}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
      </mat-card-content>
    </mat-card>
</div>

<div *ngIf='role.admin'>
  <div class="m-333">
    <!-- <span fxFlex></span> -->
    <button mat-raised-button class="mb-05" color="warn">Pending Publishers</button>
  </div>
<mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <mat-card-content class="p-0">
    <ngx-datatable
          class="material ml-0 mr-0"
          [rows]="pendingpublishers"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [scrollbarH]="true"
          [limit]="10"
          [rowHeight]="50">
          <ngx-datatable-column name="Name" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.name }}
            </ng-template>
          </ngx-datatable-column>
          
          <ngx-datatable-column name="Actions" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button  mat-icon-button mat-sm-button color="accent" class="mr-1" (click)="respondPublisher(row)"><mat-icon>group_add</mat-icon></button>
              <button  mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)"><mat-icon>delete</mat-icon></button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable> 
  </mat-card-content>
</mat-card>
</div>

<div *ngIf='role.publisher||role.agent'> 
  <div *ngIf='role.publisher'>
      <div class="m-333">
        <!-- <span fxFlex></span> -->
        <button mat-raised-button class="mb-05" color="primary" (click)="requestAgent({}, true)" >Ask an Agent to Sell Stock</button>
        <span fxFlex="8px"></span>
        <button mat-raised-button class="mb-05" color="warn" routerLink="/invoice/home" >Make Transaction</button>
    </div>
  </div>

  <div *ngIf='role.agent'>
    <div class="m-333">
      <!-- <span fxFlex></span> -->
      <button mat-raised-button class="mb-05" color="primary" (click)="requestPublisher({}, true)" >Request to Sell for Publisher</button>
    </div>
  </div>

  <mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
    <mat-card-content class="p-0">
      <ngx-datatable
            class="material ml-0 mr-0"
            [rows]="partners"
            [columnMode]="'force'"
            [headerHeight]="50" 
            [footerHeight]="50"
            [scrollbarH]="true"
            [limit]="10"
            [rowHeight]="50">
            <ngx-datatable-column name="Name" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.name }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Status" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button  *ngIf="row?.status === 'approved'" mat-icon-button mat-sm-button color="success" class="mr-1"><mat-icon>verified_user</mat-icon></button>
                <button  *ngIf="row?.by == user.role && row?.status === 'pending'" mat-icon-button mat-sm-button color="success" class="mr-1"><mat-icon>arrow_forward</mat-icon></button>
                <button  *ngIf="row?.by != user.role && row?.status === 'pending'" mat-icon-button mat-sm-button color="success" class="mr-1"><mat-icon>arrow_back</mat-icon></button>
              </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Actions" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button  *ngIf="row?.status === 'pending' && row?.by != user.role" mat-icon-button mat-sm-button color="accent" class="mr-1" (click)="respondRequest(row)"><mat-icon>group_add</mat-icon></button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable> 
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf='role.publisher'>
  <div class="m-333">
    <!-- <span fxFlex></span> -->
    <button mat-raised-button class="mb-05" color="primary" routerLink="/invoice/newitem">Add New Item</button>
    <span fxFlex="8px"></span>
    <button mat-raised-button class="mb-05" color="accent" (click)="openAddStock({}, true)">Add Stock</button>
  </div>
  <mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
    <mat-card-content class="p-0">
      <ngx-datatable
            class="material ml-0 mr-0"
            [rows]="items"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [scrollbarH]="true"
            [limit]="10"
            [rowHeight]="50">
            <ngx-datatable-column name="Name" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.name }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Class" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.class }}
              </ng-template>
            </ngx-datatable-column>
              <ngx-datatable-column name="Subject" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.subject_name }}
                </ng-template>
              </ngx-datatable-column>
                <ngx-datatable-column name="Price" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.price }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Stock" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.remaining_stock }}
                  </ng-template>
                </ngx-datatable-column>
          </ngx-datatable>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf='role.agent'>
  <div class="m-333">
    <!-- <span fxFlex></span> -->
    <button mat-raised-button class="mb-05" color="primary">Available Stock</button>
  </div>
    <mat-card *ngIf='role.agent' class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
      <mat-card-content class="p-0">
        <ngx-datatable
              class="material ml-0 mr-0"
              [rows]="stocks"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [scrollbarH]="true"
              [limit]="10"
              [rowHeight]="50">
              <ngx-datatable-column name="Name" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.name }} - {{ row?.class }} - Edition - {{ row?.edition }}
                </ng-template>
              </ngx-datatable-column>
  
              <ngx-datatable-column name="price" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.price}}
                </ng-template>
              </ngx-datatable-column>
  
              <ngx-datatable-column name="Stock" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.remaining_stock}}
                </ng-template>
              </ngx-datatable-column>
            
            </ngx-datatable>
      </mat-card-content>
    </mat-card>
</div>
  
<div *ngIf='role.agent'>
    <div class="m-333">
      <!-- <span fxFlex></span> -->
      <button *ngIf ='role.agent' mat-raised-button class="mb-05" (click)="addRetailer({}, true)"color="primary" >Add A new Retailer</button>
      <span fxFlex="8px"></span>
      <button *ngIf ='role.agent' mat-raised-button class="mb-05" color="warn" routerLink="/invoice/retail" >Make Transaction</button>
    </div>
    <mat-card *ngIf='role.agent' class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
      <mat-card-content class="p-0">
        <ngx-datatable
              class="material ml-0 mr-0"
              [rows]="retailers"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [scrollbarH]="true"
              [limit]="10"
              [rowHeight]="50">
              <ngx-datatable-column name="Name" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.name }}
                </ng-template>
              </ngx-datatable-column>
  
              <ngx-datatable-column name="status" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  
                </ng-template>
              </ngx-datatable-column>
            
            </ngx-datatable>
      </mat-card-content>
    </mat-card>
</div>
  