<div class="handle" >
  <button (click)="requestAgent({}, true)"
  mat-raised-button class="mb-05"
  color="primary">
  Request for Agent  
    <mat-icon>  group_add</mat-icon>
  </button>
</div>

<mat-card class="p-0" [@animate]="{ value: '*', params: { scale: '.9', delay: '200ms' } }">
  <div fxLayout="row wrap">
      <div
          fxFlex="100"
          fxFlex.gt-sm="20"
          fxFlex.sm="50"
      >
          <div class="text-center pt-1 pb-1 border-right-light">
              <mat-icon class="text-blue">account_balance_wallet</mat-icon>
              <h4 class="m-0">{{userdetails.sold_to_agents}}</h4>
              <small class="m-0 text-muted">Sold To Agents</small>
          </div>
      </div>
      <div
          fxFlex="100"
          fxFlex.gt-sm="20"
          fxFlex.sm="50"
      >
          <div class="text-center pt-1 pb-1 border-right-light">
              <mat-icon class="text-orange">attach_money</mat-icon>
              <h4 class="m-0 ">{{userdetails.sold_by_agents}}</h4>
              <small class="m-0 text-muted">Sold By Agents</small>
          </div>
      </div>
      <div
          fxFlex="100"
          fxFlex.gt-sm="20"
          fxFlex.sm="50"
      >
          <div class="text-center pt-1 pb-1 border-right-light">
              <mat-icon class="text-blue">business_center</mat-icon>
              <h4 class="m-0 ">{{userdetails.received_from_agents}}</h4>
              <small class="m-0 text-muted">Received from Agents</small>
          </div>
      </div>
      <div
          fxFlex="100"
          fxFlex.gt-sm="20"
          fxFlex.sm="50"
      >
          <div class="text-center pt-1 pb-1 border-right-light">
              <mat-icon class="text-blue">add</mat-icon>
              <h4 class="m-0 ">{{userdetails.received_but_with_agents}}</h4>
              <small class="m-0 text-muted">Received but with Agents</small>
          </div>
      </div>
      <div
          fxFlex="100"
          fxFlex.gt-sm="20"
          fxFlex.sm="50"
      >
          <div class="text-center pt-1 pb-1">
              <mat-icon class="text-orange">compare_arrows</mat-icon>
              <h4 class="m-0 ">{{userdetails.indebt_with_retailers}}</h4>
              <small class="m-0 text-muted">In debt with Retailers</small>
          </div>
      </div>
      
  </div>
</mat-card>

<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="66.67" fxFlex.sm="50" 
  [@animate]="{value:'*',params:{delay:'400ms',scale:'.9'}}">
<mat-form-field class="margin-333" style="width: 100%">
  <input  
  matInput 
  placeholder="Search for an Agent" 
  value=""
  (keyup)='updateFilter($event)'>
</mat-form-field>

<div *ngIf="approvedpartners">
<a>
  <ngx-datatable class="material bg-white" 
    [columnMode]="'force'"  
    [headerHeight]="50"
    [footerHeight]="50" 
    [rowHeight]="50"
    [limit]="8"
    [rows]="rows"
    [columns]="columns"
    (activate)="onActivate($event)">
    </ngx-datatable>
  </a>
</div>
</div>

<div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'400ms',scale:'.9'}}">
  <div class="m-333">
      <mat-accordion multi="false">

          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Year: 2020/2021
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="border-bottom pb-1 mb-1">
                <div fxLyout="row wrap" class="text-blue font-weight-bold">
                    <span>Total Sale</span>
                    <span fxFlex></span>
                    <span>8897.45</span>
                  </div>
                  <div fxLyout="row wrap" class="text-muted">
                    <small>As At</small>
                    <span fxFlex></span>
                    <small class="text-green">530(+3.73%)</small>
                  </div>
            </div>
            <div class="border-bottom pb-1 mb-1">
                <div fxLyout="row wrap" class="text-blue font-weight-bold">
                    <span>Total Received</span>
                    <span fxFlex></span>
                    <span>3829.23</span>
                  </div>
                  <div fxLyout="row wrap" class="text-muted">
                    <small>As At</small>
                    <span fxFlex></span>
                    <small class="text-red">430(-1.43%)</small>
                  </div>
            </div>
            <div class="">
                <div fxLyout="row wrap" class="text-blue font-weight-bold">
                    <span>Total Indebt</span>
                    <span fxFlex></span>
                    <span>5836.79</span>
                  </div>
                  <div fxLyout="row wrap" class="text-muted">
                    <small>As At</small>
                    <span fxFlex></span>
                    <small class="text-green">210(+2.23%)</small>
                  </div>
            </div>

          </mat-expansion-panel>

          <!-- <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                ETH
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="border-bottom pb-1 mb-1">
                <div fxLyout="row wrap" class="text-blue font-weight-bold">
                    <span>ETH vs USD</span>
                    <span fxFlex></span>
                    <span>8897.45</span>
                  </div>
                  <div fxLyout="row wrap" class="text-muted">
                    <small>24 hour change</small>
                    <span fxFlex></span>
                    <small class="text-green">530(+3.73%)</small>
                  </div>
            </div>
            <div class="border-bottom pb-1 mb-1">
                <div fxLyout="row wrap" class="text-blue font-weight-bold">
                    <span>ETH vs EUR</span>
                    <span fxFlex></span>
                    <span>3829.23</span>
                  </div>
                  <div fxLyout="row wrap" class="text-muted">
                    <small>24 hour change</small>
                    <span fxFlex></span>
                    <small class="text-red">430(-1.43%)</small>
                  </div>
            </div>
            <div class="">
                <div fxLyout="row wrap" class="text-blue font-weight-bold">
                    <span>ETH vs GBP</span>
                    <span fxFlex></span>
                    <span>5836.79</span>
                  </div>
                  <div fxLyout="row wrap" class="text-muted">
                    <small>24 hour change</small>
                    <span fxFlex></span>
                    <small class="text-green">210(+2.23%)</small>
                  </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  LTC
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="border-bottom pb-1 mb-1">
                  <div fxLyout="row wrap" class="text-blue font-weight-bold">
                      <span>LTC vs USD</span>
                      <span fxFlex></span>
                      <span>8897.45</span>
                    </div>
                    <div fxLyout="row wrap" class="text-muted">
                      <small>24 hour change</small>
                      <span fxFlex></span>
                      <small class="text-green">530(+3.73%)</small>
                    </div>
              </div>
              <div class="border-bottom pb-1 mb-1">
                  <div fxLyout="row wrap" class="text-blue font-weight-bold">
                      <span>LTC vs EUR</span>
                      <span fxFlex></span>
                      <span>3829.23</span>
                    </div>
                    <div fxLyout="row wrap" class="text-muted">
                      <small>24 hour change</small>
                      <span fxFlex></span>
                      <small class="text-red">430(-1.43%)</small>
                    </div>
              </div>
              <div class="">
                  <div fxLyout="row wrap" class="text-blue font-weight-bold">
                      <span>LTC vs GBP</span>
                      <span fxFlex></span>
                      <span>5836.79</span>
                    </div>
                    <div fxLyout="row wrap" class="text-muted">
                      <small>24 hour change</small>
                      <span fxFlex></span>
                      <small class="text-green">210(+2.23%)</small>
                    </div>
              </div>
          </mat-expansion-panel> -->

        </mat-accordion>
  </div>

  <!-- <mat-card>
      <div fxLayout="row wrap" fxLayoutAlign="start center">
          <h6 class="m-0">Balance </h6>
        </div>
      <div echarts [options]="cryptoDonutChart" [autoResize]="true" style="height: 318px;"></div>
  </mat-card> -->
</div>

</div>
 