<footer class="home-footer">
  <section class="home-footer-top">
    <div class="container">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
        <div fxFlex="50" class="footer-box">
          <h4 class="footer-box-title"><b>About Us</b></h4>
          <p>BookBuy.shop is an online platform that helps  
            publishing houses to manage their sales. In the global world where information is key to every business, 
            we deliver real time statistics which help in marketing
            innovation and also quicker cash retreival.</p>
          <button mat-raised-button color="accent">Contact Us</button>
        </div>
        <div fxFlex="25" class="footer-box">
          <h4 class="footer-box-title"><b>Contact</b></h4>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent">email</mat-icon>
              <h5 matLine><b>Email</b></h5>
              <p matLine> info@bookbuy.shop </p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent">phone</mat-icon>
              <h5 matLine><b>Phone</b></h5>
              <p matLine> +233 554 3472 05 </p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon color="accent">location_on</mat-icon>
                <h5 matLine><b>Adress</b></h5>
                <p matLine>P.O. BOX SE 648 </p>
                <p matLine>Suame - Magazine </p>
              </mat-list-item>
          </mat-list>
        </div>
        <div fxFlex="25" class="footer-box">
          <h4 class="footer-box-title"><b>Disclaimer</b></h4>
          <p>We do not manage your inventory, we can provide managers that can manage your printhouse at a fee. We do not take responsibility for any loses that might occur while using our system.</p>
          <div class="socials pt-1">
            <ul>
              <li><a href="" class="social-icon linkedin"></a></li>
              <li><a href="" class="social-icon twitter"></a></li>
              <li><a href="" class="social-icon facebook"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>