<h1 matDialogTitle>Ask An Agent To Sell Your Stock</h1>
  <form [formGroup]="itemForm" (ngSubmit)="submit()">

  <div fxLayout="row wrap" fxLayout.lt-sm="column">

    <div fxFlex="100"  class="pr-1">
      <mat-form-field class="full-width">
        <mat-label>Agents</mat-label>
        <mat-select formControlName="id" required>
            <mat-option *ngFor="let agent of agents" [value]="agent.id">
                {{agent.name}}
            </mat-option>
        </mat-select>
        <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
        <mat-error>You must select an Agent</mat-error>
    </mat-form-field>
    </div> 

    <div fxFlex="100" class="mt-1">
      <button mat-raised-button color="primary" [disabled]="itemForm.invalid">Apply</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
    </div>
  </div>
  </form>